center
  nav
    ul
      table.tablaEnlaces
          tr
            td
              li 
                a href=="/grammar"  title="Gramática" class==current?("/grammar") Gramática
            td
              li 
                a href=="/"  title="Página Principal" class==current? Página Principal
            td
              li
                a href=="http://en.wikipedia.org/wiki/Recursive_descent_parser"  title="Wikipedia" Wikipedia
            td
              li
                a href=="https://github.com/alu0100597929/Pr-ctica-5-Analizador-descendente-predictivo-recursivo.git" title="Repositorio" Repositorio
            td
              li
                a href=="/" title="Tests" Tests